*:focus {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: searchfield;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

h2 {
  margin: auto;
}
#menber_list {
  /* padding: 8px; */
  margin: 8px;
}
.palette{
  padding: 0px;
  padding-left: 8px;
  margin: 8px;
  color: black;
  background-color: #ffffff;
  border: 2px dotted #ccc;
  border-radius: 8px;
  font-size: 20px;
}

.job_list {
  margin: 2px 0 0 8px;
}
/* #kisi{
  color: red;
}
#reibai{
  color: red;
} */
#kyouzin{
  color: orange;
}
#uranai{
  color: blue;
}
#zinrou{
  color: red;
}

.red {
  color: red;
}
.dis {
  color: #ffffff;
}

#settei {
  margin: 8px;
  padding: 8px;
  /* height: 24px; */
  font-size: 20px;
}

option {
  font-size: 16px;
}

#select {
  margin: 8px;
  /* padding: 8px; */
  font-size: 16px;
}
#ninzuu {
  margin: 8px;
  padding: 8px;
  font-size: 20px;
}

.tyuui {
  font-size: 12px;
}

.inline {
  display:  inline;
}


